h1, h2, p, button {
    font-family: Helvetica, sans-serif, monospace;
}

p {
    font-size: 20px;
    margin: 0;
}

body {
    height: 700px;
    width: 350px;
}

#head-container {
    display:flex;
    flex-direction: row;
    max-height: 10%;
}

h1 {
    color: black;
    text-shadow: 2px 2px 2px rgb(135, 129, 129) ;
    margin-inline: 5%;
    margin-top: 5px;
    font-size: 40px;
}

#icon {
    height: 10%;
    width: 20%;
    margin-left: -5px;
}

.menu {
    margin-inline: 5%;
}

.tab-selection {
    display: flex;
    flex-direction: column;
}

.tab-selection div {
    display: flex;
    flex-direction: row;
}

select {
    width: 250px;
}

